<nav class="d-flex flex-row align-items-center bg-light">
  <h1 class="ml-3">Photo browser</h1>
  <div class="ml-auto mr-3">
    <input type="text"
           class="form-control form-control-sm"
           placeholder="Search"
           [(ngModel)]="searchQuery">
  </div>
</nav>

<div class="alert alert-danger" role="alert" *ngIf="error">
  Error during loading data
</div>

<ng-template #loading>
  <p class="mt-5">Loading data...</p>
</ng-template>

<section class="photos mt-5 mb-5" *ngIf="loaded; else loading">

  <p *ngIf="((getPhotoStream() | async) | filter: 'title':searchQuery).length === 0">No result</p>

  <app-photo *ngFor="let photo of (getPhotoStream() | async) | filter: 'title':searchQuery"
             [photo]="photo">
  </app-photo>

</section>

<footer class="d-flex justify-content-center align-items-center bg-light">
  <div class="p-3">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">Limit:</div>
      </div>
      <input type="number"
             class="form-control"
             placeholder="Search"
             [(ngModel)]="limit"
             min="1">
    </div>
  </div>
  <div (click)="prev()" class="p-3 cursor-pointer">« Prev</div>
  <div class="p-3">Page {{page + 1}} of {{ totalPages }}</div>
  <div (click)="next()" class="p-3 cursor-pointer">Next »</div>
</footer>
